header {
  background-color: gray;
  color: blue; }

.editTask {
  display: none; }

.show {
  display: block; }

.steven {
  border-radius: 75%;
  margin-left: 40%;

}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center; }

button.deleteTask, button.showEditTask {
  padding: 5px; }
